<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    lang="es-MX">
<div th:replace="layout/header :: estilos"></div>

<body>
    <div th:replace="layout/header :: header"></div>
    <div class="d-flex" id="wrapper">
        <div th:replace="layout/header :: menu"></div>
        <div id="page-content-wrapper" style="width:100%;">
            <!-- Page content-->
            <div class="container-fluid" style="margin-top:15px;margin-bottom:10px;">
                <button class="btn btn-info" data-toggle="modal" data-target="#modalRegisterCustomer"
                    onclick="registerCustomer()">Registrar Cliente</button><br><br>
                <table class="table table-hover" id="tabla">
                    <thead>
                        <tr style="background-color: #239B56;">
                            <th class="text-white" scope="col">Id</th>
                            <th class="text-white" scope="col">Nombre</th>
                            <th class="text-white" scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="customer : ${customers}">
                            <td scope="row" th:text="${customer.customer_id}"></td>
                            <td th:text="${customer.name}"></td>
                            <td th:text="${customer.email}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Modal filtro titulo -->
            <div class="modal fade " id="modalRegisterCustomer" tabindex="-1" aria-labelledby="modalRegisterCustomer"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tituloRegisterCustomer">Filtrar por título</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="formRegisterCustomer" th:action="@{/registerCustomer}" method="POST">
                            <div class="modal-body">
                                <label for="inputFirstName">Nombre</label>
                                <input id="inputFirstName" name="firstName" type="text"
                                    placeholder="Escribe el nombre" class="form-control" th:value="${customer.firstName}" required="required"/> <br>

                                <label for="inputLastName">Apellido</label>
                                <input id="inputLastName" name="lastName" type="text"
                                    placeholder="Escribe el apellido" class="form-control" th:value="${customer.lastName}" required="required"/> <br>

                                <label for="inputEmail">Email</label>
                                <input id="inputEmail" name="email" type="email" placeholder="Escribe el email"
                                    class="form-control" th:value="${customer.email}" required="required"/> <br>

                                <label for="inputAddress">Direccion</label>
                                <input id="inputAddress" name="address" type="text"
                                    placeholder="Escriba su direccion" class="form-control" th:value="${eaddress.address}" required="required"/> <br>

                                <label for="inputDistrict">Distrito</label>
                                <input id="inputDistrict" name="district" type="text"
                                    placeholder="Escriba el distrito" class="form-control" th:value="${eaddress.district}" required="required"/> <br>

                                <label for="selectCountry">Pais</label>
                                <select id="selectCountry" name="selectCountry" class="form-control"
                                    th:onchange="'javascript:filtrarCiudad();'" required>
                                    <option value="">Selecciona una opción</option>
                                    <option th:each="country : ${countries}" th:value="${country.countryId}"
                                        th:text="${country.country}"></option>
                                </select><br>

                                <label for="selectCity">Ciudad</label>
                                <select id="selectCity" name="city" class="form-control" required>
                                    <option value="" selected>Selecciona una opción</option>
                                    <option th:each="city : ${cities}" th:value="${city.city}" th:text="${city.city}">
                                    </option>
                                </select><br>

                                <label for="inputPhone">Telefono</label>
                                <input id="inputPhone" name="phone" type="text" placeholder="Escriba su telefono"
                                    class="form-control" th:value="${eaddress.phone}" required="required"/> <br>

                                <label for="selectStore">Sucursal</label>
                                <select id="selectStore" name="storeId" class="form-control" required>
                                    <option value="">Selecciona una opción</option>
                                    <option th:each="store : ${stores}" th:value="${store.store_id}"
                                        th:text="${store.address}"></option>
                                </select><br>
                            </div>
                            <div class="modal-footer">
                                <button id="botonCerrar2" type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Cancelar</button>
                                <button id="botonGuardar2" type="submit" class="btn btn-success">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="layout/header :: footer"></div>
    <div th:replace="layout/header :: scripts"></div>
    <script th:src="@{assets/js/customers.js}"></script>
</body>

</html>